fastapi
uvicorn[standard]
SQLAlchemy
PyMySQL
pydantic
httpx
python-dotenv
pydantic_settings
langgraph
langchain-core
langchain-openai
langchain-groq
langchain-community
pytest
httpx
sentence-transformers
chromadb
unstructured
unstructured[pdf]
langchain-chroma
langchain-huggingface
langchain-ollama
langchain
langchain-anthropic
langchain-google-genai
langchain-groq
pyTelegramBotAPI